@media only screen and (max-width: 960px){
  .shop__container{
    margin: 0;
    border-radius: 0;
    .carrousel__container{
      .title{
        font-size: 5em;
      }
    }
    .main__container{
      grid-template-rows: 2em 3em 93vh;
      grid-template-areas: 
      "title title"
      "categ categ"
      "food food";
      .categories{
        flex-direction: row;
        gap: 1em;
        .category__btn{
          p{
            font-size:.8em;
          }
        }
        .category__icon{
          width: 24px;
          height: 24px;
        }
      }
      #food__container{
        margin:5em 2.5em 0;
        border: 2px solid rgb(252, 170, 170);
        
        .container__detail{
          width: 16em;
          height: 16em;
        }

        .detail__img{
          width: 15em;
        }
        .price{
          font-size: 1.5em;
        }
      }
    }
    footer{
      text-align: center;
    }
  }
}

@media only screen and (max-width: 480px){
  .shop__container{
    .carrousel__container{
      .title{
        font-size: 3em;
      }
    }
    .main__container{
      .categories{
        gap: 3em;
        .category__btn{
          border-radius: 50%;
          width: 3em;
          height: 3em;
          p, span{
            display: none;
          }
        }
        .category__icon{
          margin-right: auto;
          margin-left: auto;
          width: 32px;
          height: 32px;
        }
      }
    }
    #contacto{
      gap: 1em;
      .contact__left{
        .contact__img{
          width: 15em;
          height: 15em;
          border-radius: 20px;
        }
      }
      .contact__right{
        h2{
          text-align: center;
          margin-bottom: 2em;
        }
        div{
          p{
            font-size: 1em;
          }
        }
      }
    }
    footer{
      p{
        font-size: .7em;
      }
    }
  }
}

//Hover para dispositivos con cursor
@media (hover:hover){
  
  .main__container{
    .categories{
      .category__btn{
        &:hover span{
          left: 2.1em;
        }
        &:hover {
          color: #fff
        }
      }
    }
    #food__container{
      .container__detail{
        &:hover .detail__img{
          width: 100%;
          height: 100%;
          border-radius: 0;
          border: 2px solid #000
        }
        &:hover .price{
          display: none;
        }
      }
    }
  }
  #contacto{
    .contact__right{
      div{
        .whatsapp:hover{
          width: 43px;
          height: 43px
        }
        .facebook:hover{
          width: 34px;
          height: 34px
        }
        .instagram:hover{
          width: 38px;
          height: 38px
        }
        .email:hover{
          width: 43px;
          height: 43px
        }
      }
    }
  }
}
