.shop__container {
  margin: 0 10em;
  border-radius: 10px;
  box-shadow: 0 0 10em #000;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.shop__container .container-fluid {
  display: flex;
  justify-content: space-between;
}
.shop__container .container-fluid .navbar-brand {
  font-size: 1.7em;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.shop__container .container-fluid .nav-link {
  font-size: 1.3em;
}
.shop__container .carrousel__container {
  width: 100%;
  height: 96vh;
  position: relative;
}
.shop__container .carrousel__container #carouselFood .main__img {
  height: 96vh;
}
.shop__container .carrousel__container .wave {
  position: absolute;
  margin-top: -9.3em;
  width: 100%;
}
.shop__container .carrousel__container .title {
  position: absolute;
  align-items: center;
  display: flex;
  justify-content: center;
  z-index: 100;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 8em;
  color: rgba(0, 0, 0, 0.4705882353);
  width: 100%;
  height: 100%;
  text-align: center;
}
.shop__container .main__container {
  display: grid;
  grid-template-columns: 15em 1fr;
  grid-template-rows: 2em 93vh;
  grid-template-areas: "x title" "categ food";
  background-color: rgb(252, 197, 197);
}
.shop__container .main__container #title__catalogo {
  grid-area: title;
  text-align: center;
  font-size: 3em;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.shop__container .main__container .categories {
  grid-area: categ;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 5em;
  gap: 4em;
  padding-left: 0.5em;
  align-items: center;
}
.shop__container .main__container .categories .category__btn {
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  font-size: 1.2em;
  border: 0;
  border-radius: 1em;
  width: 9.5em;
  height: 2em;
  cursor: pointer;
  z-index: 100;
  transition: color 1s;
}
.shop__container .main__container .categories .category__btn p {
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
}
.shop__container .main__container .categories .category__btn span {
  position: absolute;
  width: 11.15em;
  height: 10em;
  left: 13em;
  top: -1em;
  background-color: #000;
  transition: left 0.5s;
  z-index: -100;
}
.shop__container .main__container .categories .category__icon {
  width: 32px;
  height: 32px;
  margin-right: 10px;
}
.shop__container .main__container #food__container {
  grid-area: food;
  margin-top: 5em;
  display: flex;
  flex-wrap: wrap;
  padding: 1em;
  gap: 2em;
  overflow: auto;
  border-bottom: 2px solid rgb(252, 170, 170);
  justify-content: center;
}
.shop__container .main__container #food__container .container__detail {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 0.4em #000;
  width: 22em;
  height: 20em;
  transition: box-shadow 2s;
}
.shop__container .main__container #food__container .detail__img {
  width: 20em;
  height: 10em;
  border-radius: 0.5em;
  transition: width 0.3s, height 0.7s;
}
.shop__container .main__container #food__container .price {
  color: #000;
  font-size: 2em;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.shop__container .main__container #food__container::-webkit-scrollbar {
  width: 0.7em;
}
.shop__container .main__container #food__container::-webkit-scrollbar-thumb {
  background-color: rgb(252, 170, 170);
  border-radius: 1em;
}
.shop__container #contacto {
  height: auto;
  padding: 2em 0;
  background-color: rgb(252, 197, 197);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 6em;
}
.shop__container #contacto .contact__left {
  display: flex;
  justify-content: end;
  align-items: center;
}
.shop__container #contacto .contact__left .contact__img {
  width: 25em;
  height: 25em;
  border-radius: 20px;
}
.shop__container #contacto .contact__right {
  display: flex;
  flex-direction: column;
}
.shop__container #contacto .contact__right h2 {
  margin: 1.5em 0 1em 0;
}
.shop__container #contacto .contact__right div {
  display: grid;
  grid-template-columns: 4em 1fr;
  grid-template-rows: repeat(4, 1em);
  align-items: center;
}
.shop__container #contacto .contact__right div .whatsapp {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 40px;
  height: 40px;
}
.shop__container #contacto .contact__right div .facebook {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 31px;
  height: 31px;
}
.shop__container #contacto .contact__right div .instagram {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 35px;
  height: 35px;
}
.shop__container #contacto .contact__right div .email {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 40px;
  height: 40px;
}
.shop__container #contacto .contact__right div p {
  padding: 10px 0 0 10px;
  font-size: 1.4em;
}
.shop__container footer {
  display: flex;
  justify-content: center;
  align-items: start;
  height: auto;
  background-color: #000;
}
.shop__container footer p {
  color: #fff;
}

@media only screen and (max-width: 960px) {
  .shop__container {
    margin: 0;
    border-radius: 0;
  }
  .shop__container .carrousel__container {
    width: 150%;
  }
  .shop__container .carrousel__container .title {
    font-size: 5em;
  }
  .shop__container .main__container {
    grid-template-rows: 2em 3em 93vh;
    grid-template-areas: "title title" "categ categ" "food food";
  }
  .shop__container .main__container .categories {
    flex-direction: row;
    gap: 1em;
  }
  .shop__container .main__container .categories .category__btn p {
    font-size: 0.8em;
  }
  .shop__container .main__container .categories .category__icon {
    width: 24px;
    height: 24px;
  }
  .shop__container .main__container #food__container {
    margin: 5em 2.5em 0;
    border: 2px solid rgb(252, 170, 170);
  }
  .shop__container .main__container #food__container .container__detail {
    width: 16em;
    height: 16em;
  }
  .shop__container .main__container #food__container .detail__img {
    width: 15em;
  }
  .shop__container .main__container #food__container .price {
    font-size: 1.5em;
  }
  .shop__container footer {
    text-align: center;
  }
}
@media only screen and (max-width: 480px) {
  .shop__container .carrousel__container .title {
    font-size: 3em;
  }
  .shop__container .main__container .categories {
    gap: 3em;
  }
  .shop__container .main__container .categories .category__btn {
    border-radius: 50%;
    width: 3em;
    height: 3em;
  }
  .shop__container .main__container .categories .category__btn p, .shop__container .main__container .categories .category__btn span {
    display: none;
  }
  .shop__container .main__container .categories .category__icon {
    margin-right: auto;
    margin-left: auto;
    width: 32px;
    height: 32px;
  }
  .shop__container #contacto {
    gap: 1em;
  }
  .shop__container #contacto .contact__left .contact__img {
    width: 15em;
    height: 15em;
    border-radius: 20px;
  }
  .shop__container #contacto .contact__right h2 {
    text-align: center;
    margin-bottom: 2em;
  }
  .shop__container #contacto .contact__right div p {
    font-size: 1em;
  }
  .shop__container footer p {
    font-size: 0.7em;
  }
}
@media (hover: hover) {
  .main__container .categories .category__btn:hover span {
    left: 2.1em;
  }
  .main__container .categories .category__btn:hover {
    color: #fff;
  }
  .main__container #food__container .container__detail:hover .detail__img {
    width: 100%;
    height: 100%;
    border-radius: 0;
    border: 2px solid #000;
  }
  .main__container #food__container .container__detail:hover .price {
    display: none;
  }
  #contacto .contact__right div .whatsapp:hover {
    width: 43px;
    height: 43px;
  }
  #contacto .contact__right div .facebook:hover {
    width: 34px;
    height: 34px;
  }
  #contacto .contact__right div .instagram:hover {
    width: 38px;
    height: 38px;
  }
  #contacto .contact__right div .email:hover {
    width: 43px;
    height: 43px;
  }
}/*# sourceMappingURL=main.css.map */